#navBar{
  background-color: rgb(37, 39, 39);
  color: aliceblue;
  height: 75px;
  display: flex;
  align-items: center;
}

#navBar .menuButton{
  font-weight:bold;
  background-color: rgb(37, 39, 39);
} 

#carrito{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 14px;
  margin-top: 6px;
}

#carrito .buttonCart {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
  background-color: rgb(37, 39, 39);
}


#carrito .logoCart{
position: absolute;
right: 14px ;
}

#carrito .span{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom:30px;
  right: 2px;
  width: 17px;
  font-size: 9px;
  font-weight: bold; 
  border-radius: 50%;
  height: 17px;
  background-color: brown;
  color: aliceblue;
}

.texto{
  background:#e9e7e7;
}

.orden{
  background-color: aliceblue;
  margin-top: 20px;
}

.alertTitle{
  width: auto;
  margin: 0px 25px 0px 25px ;
  padding: 4px;
  font-weight: 500;
  background-color: rgb(235, 235, 235);
  border-radius:5px;
  height:6;
}

.containerClass{
  height: 250px !important;
}

.titleClass{
padding: 0px;
}

.iconClass{
 font-size: 10px;
 margin-top: 2px;
 margin-bottom: 2px;
}

